# Project 2: More Data, More Visualizations

For this project, the students will:
* find a data set of their choosing
* get approval from the instructor to use that data set
* upon approval, find another (related) data set
* join the new data set with the original one to create an "enriched" data set
* perform an open-ended Exploratory Data Analysis (EDA) on the enriched data set

Regarding the last bullet, "open-ended" means the student chooses the EDA that is performed. The student should have at least three types of data analysis (e.g., mean, standard deviation) and at least three types of graphs (e.g., historgram, bar graph). The student will explain why those variables were chosen for numerical or graphical analysis. Finally, the student will make note of any unusual values for any variable that is analyzed.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns 

%matplotlib inline

**Open the Uganda_Karamoja_District_Crop_Yield_Population_file.**

In [20]:
import csv 
file_path = '/Users/agapegwitabingi/Desktop/DATA 2/TABLES/Uganda_Karamoja_District_Crop_Yield_Population.csv'

with open (file_path, mode='r', newline='', encoding='utf-8') as csvfile:
    reader = csv.reader(csvfile)
    for i , row in enumerate(reader):
        print(row)
        if i ==4:
            break

['OBJECTID', 'NAME', 'POP', 'Area', 'S_Yield_Ha', 'M_Yield_Ha', 'Crop_Area_Ha', 'S_Area_Ha', 'M_Area_Ha', 'S_Prod_Tot', 'M_Prod_Tot']
['92', 'ABIM', '90385', '2771977106', '449', '1040', '5470.068394', '3277.295971', '1848.621855', '1471506', '1922567']
['96', 'AMUDAT', '101790', '1643582836', '205', '1297', '5765.443719', '2973.42386', '2733.661014', '609552', '3545558']
['20', 'KAABONG', '627057', '7373606003', '279', '945', '28121.67253', '20544.19496', '7394.416334', '5731830', '6987723']
['85', 'KOTIDO', '243157', '3641539808', '331', '1148', '53032.64945', '50247.4439', '1751.372284', '16631904', '2010575']

In [28]:
#print the first 5 rows
import pandas as pd
df=pd.read_csv('/Users/agapegwitabingi/Desktop/DATA 2/TABLES/Uganda_Karamoja_District_Crop_Yield_Population.csv')
df.head()

,OBJECTID,NAME,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
0,92,ABIM,90385,2771977106,449,1040,5470.068394,3277.295971,1848.621855,1471506,1922567
1,96,AMUDAT,101790,1643582836,205,1297,5765.443719,2973.423860,2733.661014,609552,3545558
2,20,KAABONG,627057,7373606003,279,945,28121.672530,20544.194960,7394.416334,5731830,6987723
3,85,KOTIDO,243157,3641539808,331,1148,53032.649450,50247.443900,1751.372284,16631904,2010575
4,5,MOROTO,127811,3570160948,128,355,5954.814048,4741.748776,1190.050606,606944,422468

In [30]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      7 non-null      int64
 1   NAME          7 non-null      object
 2   POP           7 non-null      int64
 3   Area          7 non-null      int64
 4   S_Yield_Ha    7 non-null      int64
 5   M_Yield_Ha    7 non-null      int64
 6   Crop_Area_Ha  7 non-null      float64
 7   S_Area_Ha     7 non-null      float64
 8   M_Area_Ha     7 non-null      float64
 9   S_Prod_Tot    7 non-null      int64
 10  M_Prod_Tot    7 non-null      int64
dtypes: float64(3), int64(7), object(1)
memory usage: 748.0+ bytes
None

In [32]:
df.columns #checking how many columns are there

Index(['OBJECTID', 'NAME', 'POP', 'Area', 'S_Yield_Ha', 'M_Yield_Ha',
       'Crop_Area_Ha', 'S_Area_Ha', 'M_Area_Ha', 'S_Prod_Tot', 'M_Prod_Tot'],
      dtype='object')

In [34]:
df['NAME']

0             ABIM
1           AMUDAT
2          KAABONG
3           KOTIDO
4           MOROTO
5    NAKAPIRIPIRIT
6            NAPAK
Name: NAME, dtype: object

In [36]:
df['NAME'].describe()    #view some statistics for NAME.

count        7
unique       7
top       ABIM
freq         1
Name: NAME, dtype: object

In [40]:
df.shape    #view the shape of the dataset.

(7, 11)

In [42]:
df.describe() #view some statistics for each column.

,OBJECTID,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
count,7.000000,7.000000,7.000000e+00,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000e+00,7.000000e+00
mean,61.714286,214943.571429,3.960853e+09,269.285714,986.142857,21094.520379,16737.636651,3983.947082,4.873098e+06,4.085632e+06
std,36.481567,188604.280916,1.781860e+09,119.243049,321.566700,17363.854165,16625.963460,2678.911441,5.743724e+06,2.877188e+06
min,5.000000,90385.000000,1.643583e+09,128.000000,355.000000,5470.068394,2973.423860,1190.050606,6.069440e+05,4.224680e+05
25%,37.000000,114800.500000,3.171069e+09,171.000000,899.500000,5860.128883,4009.522373,1799.997070,1.040529e+06,1.966571e+06
50%,80.000000,146780.000000,3.641540e+09,279.000000,1040.000000,22944.296020,16142.015880,2733.661014,2.211456e+06,3.545558e+06
75%,88.500000,205391.000000,4.362553e+09,343.500000,1206.000000,27247.185510,19890.764085,6484.753740,6.290160e+06,6.288030e+06
max,96.000000,627057.000000,7.373606e+09,449.000000,1297.000000,53032.649450,50247.443900,7394.416334,1.663190e+07,8.122197e+06

In [44]:
df.tail #last few rows in the data

<bound method NDFrame.tail of    OBJECTID           NAME     POP        Area  S_Yield_Ha  M_Yield_Ha  \
0        92           ABIM   90385  2771977106         449        1040
1        96         AMUDAT  101790  1643582836         205        1297
2        20        KAABONG  627057  7373606003         279         945
3        85         KOTIDO  243157  3641539808         331        1148
4         5         MOROTO  127811  3570160948         128         355
5        54  NAKAPIRIPIRIT  146780  4216323900         356        1264
6        80          NAPAK  167625  4508782023         137         854

   Crop_Area_Ha     S_Area_Ha    M_Area_Ha  S_Prod_Tot  M_Prod_Tot
0   5470.068394   3277.295971  1848.621855     1471506     1922567
1   5765.443719   2973.423860  2733.661014      609552     3545558
2  28121.672530  20544.194960  7394.416334     5731830     6987723
3  53032.649450  50247.443900  1751.372284    16631904     2010575
4   5954.814048   4741.748776  1190.050606      606944      422468
5  26372.698490  19237.333210  6425.788414     6848491     8122197
6  22944.296020  16142.015880  6543.719066     2211456     5588336  >

In [46]:
#checking for missing values
df.isnull().sum()

OBJECTID        0
NAME            0
POP             0
Area            0
S_Yield_Ha      0
M_Yield_Ha      0
Crop_Area_Ha    0
S_Area_Ha       0
M_Area_Ha       0
S_Prod_Tot      0
M_Prod_Tot      0
dtype: int64

In [48]:
df.isnull().sum().sum() #hence no missing values

0

In [52]:
#checking for duplicates.
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [56]:
 #hence no duplicates
df.duplicated().sum()

0